@import 'style/pane.css';
@import 'style/fonts.css';
@import 'style/svelte-tags-input';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.debug {
		@apply border border-solid border-red-500;
	}
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'Noto Sans Hebrew', 'Noto Sans TC', 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans Thai', sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 640px;
  min-height: 100vh;
}

#app {
  @apply w-full;
  height: 100vh;
}